<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SmartConnectorDb" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLEXPRESS;Database=SmartConnector.Service;Integrated Security=SSPI" />
    <add name="SmartConnectorUserDb" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLEXPRESS;Database=SmartConnector.User;Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <add key="EncryptionKey" value="27A0EB741E6FBB3F956A60B6DA3A821E29140498F7012B05ED63D97407A1BA62" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mongoose.Csp" publicKeyToken="223885051a9a1eff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.25.0" newVersion="2.4.25.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SxL.Common" publicKeyToken="223885051a9a1eff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.23.0" newVersion="2.4.23.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mongoose.Common" publicKeyToken="223885051a9a1eff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.23.0" newVersion="2.4.23.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ews.Common" publicKeyToken="223885051a9a1eff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.23.0" newVersion="2.4.23.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>